@import "zaui-tokens/variables.css";

.page {
  padding: 66px 16px 48px 16px;
}

.page-x-0 {
  padding: 66px 0px 48px 0;
}

.page-wo-header {
  padding-top: 16px!important;
}

.page-wo-footer {
  padding-bottom: 16px!important;
}

.page-test {
  padding: 16px;
  padding-top: 30px;
  background-color: white;
}

.page-admin {
  padding: 62px 32px 46px 32px;
  background-color:	white;
}

.section-container {
  padding: 16px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 24px;
}

input:focus {
  outline: #00378A;
}

hr {
  margin: 0.5rem 0;
  color: var(--colors-gray-30);
}

.required {
  color: var(--colors-red-50);
}

/* Steelblue */
.zaui-text-steelblue-10 { color: var(--colors-steelblue-10); }
.zaui-bg-steelblue-10 { background-color: var(--colors-steelblue-10); }
.zaui-border-steelblue-10 { border-color: var(--colors-steelblue-10); }
.zaui-text-steelblue-20 { color: var(--colors-steelblue-20); }
.zaui-bg-steelblue-20 { background-color: var(--colors-steelblue-20); }
.zaui-border-steelblue-20 { border-color: var(--colors-steelblue-20); }
.zaui-text-steelblue-30 { color: var(--colors-steelblue-30); }
.zaui-bg-steelblue-30 { background-color: var(--colors-steelblue-30); }
.zaui-border-steelblue-30 { border-color: var(--colors-steelblue-30); }
.zaui-text-steelblue-40 { color: var(--colors-steelblue-40); }
.zaui-bg-steelblue-40 { background-color: var(--colors-steelblue-40); }
.zaui-border-steelblue-40 { border-color: var(--colors-steelblue-40); }
.zaui-text-steelblue-50 { color: var(--colors-steelblue-50); }
.zaui-bg-steelblue-50 { background-color: var(--colors-steelblue-50); }
.zaui-border-steelblue-50 { border-color: var(--colors-steelblue-50); }
.zaui-text-steelblue-60 { color: var(--colors-steelblue-60); }
.zaui-bg-steelblue-60 { background-color: var(--colors-steelblue-60); }
.zaui-border-steelblue-60 { border-color: var(--colors-steelblue-60); }
.zaui-text-steelblue-70 { color: var(--colors-steelblue-70); }
.zaui-bg-steelblue-70 { background-color: var(--colors-steelblue-70); }
.zaui-border-steelblue-70 { border-color: var(--colors-steelblue-70); }
.zaui-text-steelblue-80 { color: var(--colors-steelblue-80); }
.zaui-bg-steelblue-80 { background-color: var(--colors-steelblue-80); }
.zaui-border-steelblue-80 { border-color: var(--colors-steelblue-80); }
.zaui-text-steelblue-90 { color: var(--colors-steelblue-90); }
.zaui-bg-steelblue-90 { background-color: var(--colors-steelblue-90); }
.zaui-border-steelblue-90 { border-color: var(--colors-steelblue-90); }
.zaui-text-steelblue-100 { color: var(--colors-steelblue-100); }
.zaui-bg-steelblue-100 { background-color: var(--colors-steelblue-100); }
.zaui-border-steelblue-100 { border-color: var(--colors-steelblue-100); }

/* Skyblue */
.zaui-text-skyblue-10 { color: var(--colors-skyblue-10); }
.zaui-bg-skyblue-10 { background-color: var(--colors-skyblue-10); }
.zaui-border-skyblue-10 { border-color: var(--colors-skyblue-10); }
.zaui-text-skyblue-20 { color: var(--colors-skyblue-20); }
.zaui-bg-skyblue-20 { background-color: var(--colors-skyblue-20); }
.zaui-border-skyblue-20 { border-color: var(--colors-skyblue-20); }
.zaui-text-skyblue-30 { color: var(--colors-skyblue-30); }
.zaui-bg-skyblue-30 { background-color: var(--colors-skyblue-30); }
.zaui-border-skyblue-30 { border-color: var(--colors-skyblue-30); }
.zaui-text-skyblue-40 { color: var(--colors-skyblue-40); }
.zaui-bg-skyblue-40 { background-color: var(--colors-skyblue-40); }
.zaui-border-skyblue-40 { border-color: var(--colors-skyblue-40); }
.zaui-text-skyblue-50 { color: var(--colors-skyblue-50); }
.zaui-bg-skyblue-50 { background-color: var(--colors-skyblue-50); }
.zaui-border-skyblue-50 { border-color: var(--colors-skyblue-50); }
.zaui-text-skyblue-60 { color: var(--colors-skyblue-60); }
.zaui-bg-skyblue-60 { background-color: var(--colors-skyblue-60); }
.zaui-border-skyblue-60 { border-color: var(--colors-skyblue-60); }
.zaui-text-skyblue-70 { color: var(--colors-skyblue-70); }
.zaui-bg-skyblue-70 { background-color: var(--colors-skyblue-70); }
.zaui-border-skyblue-70 { border-color: var(--colors-skyblue-70); }
.zaui-text-skyblue-80 { color: var(--colors-skyblue-80); }
.zaui-bg-skyblue-80 { background-color: var(--colors-skyblue-80); }
.zaui-border-skyblue-80 { border-color: var(--colors-skyblue-80); }
.zaui-text-skyblue-90 { color: var(--colors-skyblue-90); }
.zaui-bg-skyblue-90 { background-color: var(--colors-skyblue-90); }
.zaui-border-skyblue-90 { border-color: var(--colors-skyblue-90); }
.zaui-text-skyblue-100 { color: var(--colors-skyblue-100); }
.zaui-bg-skyblue-100 { background-color: var(--colors-skyblue-100); }
.zaui-border-skyblue-100 { border-color: var(--colors-skyblue-100); }

/* Teal */
.zaui-text-teal-10 { color: var(--colors-teal-10); }
.zaui-bg-teal-10 { background-color: var(--colors-teal-10); }
.zaui-border-teal-10 { border-color: var(--colors-teal-10); }
.zaui-text-teal-20 { color: var(--colors-teal-20); }
.zaui-bg-teal-20 { background-color: var(--colors-teal-20); }
.zaui-border-teal-20 { border-color: var(--colors-teal-20); }
.zaui-text-teal-30 { color: var(--colors-teal-30); }
.zaui-bg-teal-30 { background-color: var(--colors-teal-30); }
.zaui-border-teal-30 { border-color: var(--colors-teal-30); }
.zaui-text-teal-40 { color: var(--colors-teal-40); }
.zaui-bg-teal-40 { background-color: var(--colors-teal-40); }
.zaui-border-teal-40 { border-color: var(--colors-teal-40); }
.zaui-text-teal-50 { color: var(--colors-teal-50); }
.zaui-bg-teal-50 { background-color: var(--colors-teal-50); }
.zaui-border-teal-50 { border-color: var(--colors-teal-50); }
.zaui-text-teal-60 { color: var(--colors-teal-60); }
.zaui-bg-teal-60 { background-color: var(--colors-teal-60); }
.zaui-border-teal-60 { border-color: var(--colors-teal-60); }
.zaui-text-teal-70 { color: var(--colors-teal-70); }
.zaui-bg-teal-70 { background-color: var(--colors-teal-70); }
.zaui-border-teal-70 { border-color: var(--colors-teal-70); }
.zaui-text-teal-80 { color: var(--colors-teal-80); }
.zaui-bg-teal-80 { background-color: var(--colors-teal-80); }
.zaui-border-teal-80 { border-color: var(--colors-teal-80); }
.zaui-text-teal-90 { color: var(--colors-teal-90); }
.zaui-bg-teal-90 { background-color: var(--colors-teal-90); }
.zaui-border-teal-90 { border-color: var(--colors-teal-90); }
.zaui-text-teal-100 { color: var(--colors-teal-100); }
.zaui-bg-teal-100 { background-color: var(--colors-teal-100); }
.zaui-border-teal-100 { border-color: var(--colors-teal-100); }

/* Blue */
.zaui-text-blue-10 { color: var(--colors-blue-10); }
.zaui-bg-blue-10 { background-color: var(--colors-blue-10); }
.zaui-border-blue-10 { border-color: var(--colors-blue-10); }
.zaui-text-blue-20 { color: var(--colors-blue-20); }
.zaui-bg-blue-20 { background-color: var(--colors-blue-20); }
.zaui-border-blue-20 { border-color: var(--colors-blue-20); }
.zaui-text-blue-30 { color: var(--colors-blue-30); }
.zaui-bg-blue-30 { background-color: var(--colors-blue-30); }
.zaui-border-blue-30 { border-color: var(--colors-blue-30); }
.zaui-text-blue-40 { color: var(--colors-blue-40); }
.zaui-bg-blue-40 { background-color: var(--colors-blue-40); }
.zaui-border-blue-40 { border-color: var(--colors-blue-40); }
.zaui-text-blue-50 { color: var(--colors-blue-50); }
.zaui-bg-blue-50 { background-color: var(--colors-blue-50); }
.zaui-border-blue-50 { border-color: var(--colors-blue-50); }
.zaui-text-blue-60 { color: var(--colors-blue-60); }
.zaui-bg-blue-60 { background-color: var(--colors-blue-60); }
.zaui-border-blue-60 { border-color: var(--colors-blue-60); }
.zaui-text-blue-70 { color: var(--colors-blue-70); }
.zaui-bg-blue-70 { background-color: var(--colors-blue-70); }
.zaui-border-blue-70 { border-color: var(--colors-blue-70); }
.zaui-text-blue-80 { color: var(--colors-blue-80); }
.zaui-bg-blue-80 { background-color: var(--colors-blue-80); }
.zaui-border-blue-80 { border-color: var(--colors-blue-80); }
.zaui-text-blue-90 { color: var(--colors-blue-90); }
.zaui-bg-blue-90 { background-color: var(--colors-blue-90); }
.zaui-border-blue-90 { border-color: var(--colors-blue-90); }
.zaui-text-blue-100 { color: var(--colors-blue-100); }
.zaui-bg-blue-100 { background-color: var(--colors-blue-100); }
.zaui-border-blue-100 { border-color: var(--colors-blue-100); }

/* Green */
.zaui-text-green-10 { color: var(--colors-green-10); }
.zaui-bg-green-10 { background-color: var(--colors-green-10); }
.zaui-border-green-10 { border-color: var(--colors-green-10); }
.zaui-text-green-20 { color: var(--colors-green-20); }
.zaui-bg-green-20 { background-color: var(--colors-green-20); }
.zaui-border-green-20 { border-color: var(--colors-green-20); }
.zaui-text-green-30 { color: var(--colors-green-30); }
.zaui-bg-green-30 { background-color: var(--colors-green-30); }
.zaui-border-green-30 { border-color: var(--colors-green-30); }
.zaui-text-green-40 { color: var(--colors-green-40); }
.zaui-bg-green-40 { background-color: var(--colors-green-40); }
.zaui-border-green-40 { border-color: var(--colors-green-40); }
.zaui-text-green-50 { color: var(--colors-green-50); }
.zaui-bg-green-50 { background-color: var(--colors-green-50); }
.zaui-border-green-50 { border-color: var(--colors-green-50); }
.zaui-text-green-60 { color: var(--colors-green-60); }
.zaui-bg-green-60 { background-color: var(--colors-green-60); }
.zaui-border-green-60 { border-color: var(--colors-green-60); }
.zaui-text-green-70 { color: var(--colors-green-70); }
.zaui-bg-green-70 { background-color: var(--colors-green-70); }
.zaui-border-green-70 { border-color: var(--colors-green-70); }
.zaui-text-green-80 { color: var(--colors-green-80); }
.zaui-bg-green-80 { background-color: var(--colors-green-80); }
.zaui-border-green-80 { border-color: var(--colors-green-80); }
.zaui-text-green-90 { color: var(--colors-green-90); }
.zaui-bg-green-90 { background-color: var(--colors-green-90); }
.zaui-border-green-90 { border-color: var(--colors-green-90); }
.zaui-text-green-100 { color: var(--colors-green-100); }
.zaui-bg-green-100 { background-color: var(--colors-green-100); }
.zaui-border-green-100 { border-color: var(--colors-green-100); }

/* Red */
.zaui-text-red-10 { color: var(--colors-red-10); }
.zaui-bg-red-10 { background-color: var(--colors-red-10); }
.zaui-border-red-10 { border-color: var(--colors-red-10); }
.zaui-text-red-20 { color: var(--colors-red-20); }
.zaui-bg-red-20 { background-color: var(--colors-red-20); }
.zaui-border-red-20 { border-color: var(--colors-red-20); }
.zaui-text-red-30 { color: var(--colors-red-30); }
.zaui-bg-red-30 { background-color: var(--colors-red-30); }
.zaui-border-red-30 { border-color: var(--colors-red-30); }
.zaui-text-red-40 { color: var(--colors-red-40); }
.zaui-bg-red-40 { background-color: var(--colors-red-40); }
.zaui-border-red-40 { border-color: var(--colors-red-40); }
.zaui-text-red-50 { color: var(--colors-red-50); }
.zaui-bg-red-50 { background-color: var(--colors-red-50); }
.zaui-border-red-50 { border-color: var(--colors-red-50); }
.zaui-text-red-60 { color: var(--colors-red-60); }
.zaui-bg-red-60 { background-color: var(--colors-red-60); }
.zaui-border-red-60 { border-color: var(--colors-red-60); }
.zaui-text-red-70 { color: var(--colors-red-70); }
.zaui-bg-red-70 { background-color: var(--colors-red-70); }
.zaui-border-red-70 { border-color: var(--colors-red-70); }
.zaui-text-red-80 { color: var(--colors-red-80); }
.zaui-bg-red-80 { background-color: var(--colors-red-80); }
.zaui-border-red-80 { border-color: var(--colors-red-80); }
.zaui-text-red-90 { color: var(--colors-red-90); }
.zaui-bg-red-90 { background-color: var(--colors-red-90); }
.zaui-border-red-90 { border-color: var(--colors-red-90); }
.zaui-text-red-100 { color: var(--colors-red-100); }
.zaui-bg-red-100 { background-color: var(--colors-red-100); }
.zaui-border-red-100 { border-color: var(--colors-red-100); }

/* Orange */
.zaui-text-orange-10 { color: var(--colors-orange-10); }
.zaui-bg-orange-10 { background-color: var(--colors-orange-10); }
.zaui-border-orange-10 { border-color: var(--colors-orange-10); }
.zaui-text-orange-20 { color: var(--colors-orange-20); }
.zaui-bg-orange-20 { background-color: var(--colors-orange-20); }
.zaui-border-orange-20 { border-color: var(--colors-orange-20); }
.zaui-text-orange-30 { color: var(--colors-orange-30); }
.zaui-bg-orange-30 { background-color: var(--colors-orange-30); }
.zaui-border-orange-30 { border-color: var(--colors-orange-30); }
.zaui-text-orange-40 { color: var(--colors-orange-40); }
.zaui-bg-orange-40 { background-color: var(--colors-orange-40); }
.zaui-border-orange-40 { border-color: var(--colors-orange-40); }
.zaui-text-orange-50 { color: var(--colors-orange-50); }
.zaui-bg-orange-50 { background-color: var(--colors-orange-50); }
.zaui-border-orange-50 { border-color: var(--colors-orange-50); }
.zaui-text-orange-60 { color: var(--colors-orange-60); }
.zaui-bg-orange-60 { background-color: var(--colors-orange-60); }
.zaui-border-orange-60 { border-color: var(--colors-orange-60); }
.zaui-text-orange-70 { color: var(--colors-orange-70); }
.zaui-bg-orange-70 { background-color: var(--colors-orange-70); }
.zaui-border-orange-70 { border-color: var(--colors-orange-70); }
.zaui-text-orange-80 { color: var(--colors-orange-80); }
.zaui-bg-orange-80 { background-color: var(--colors-orange-80); }
.zaui-border-orange-80 { border-color: var(--colors-orange-80); }
.zaui-text-orange-90 { color: var(--colors-orange-90); }
.zaui-bg-orange-90 { background-color: var(--colors-orange-90); }
.zaui-border-orange-90 { border-color: var(--colors-orange-90); }
.zaui-text-orange-100 { color: var(--colors-orange-100); }
.zaui-bg-orange-100 { background-color: var(--colors-orange-100); }
.zaui-border-orange-100 { border-color: var(--colors-orange-100); }

/* Yellow */
.zaui-text-yellow-10 { color: var(--colors-yellow-10); }
.zaui-bg-yellow-10 { background-color: var(--colors-yellow-10); }
.zaui-border-yellow-10 { border-color: var(--colors-yellow-10); }
.zaui-text-yellow-20 { color: var(--colors-yellow-20); }
.zaui-bg-yellow-20 { background-color: var(--colors-yellow-20); }
.zaui-border-yellow-20 { border-color: var(--colors-yellow-20); }
.zaui-text-yellow-30 { color: var(--colors-yellow-30); }
.zaui-bg-yellow-30 { background-color: var(--colors-yellow-30); }
.zaui-border-yellow-30 { border-color: var(--colors-yellow-30); }
.zaui-text-yellow-40 { color: var(--colors-yellow-40); }
.zaui-bg-yellow-40 { background-color: var(--colors-yellow-40); }
.zaui-border-yellow-40 { border-color: var(--colors-yellow-40); }
.zaui-text-yellow-50 { color: var(--colors-yellow-50); }
.zaui-bg-yellow-50 { background-color: var(--colors-yellow-50); }
.zaui-border-yellow-50 { border-color: var(--colors-yellow-50); }
.zaui-text-yellow-60 { color: var(--colors-yellow-60); }
.zaui-bg-yellow-60 { background-color: var(--colors-yellow-60); }
.zaui-border-yellow-60 { border-color: var(--colors-yellow-60); }
.zaui-text-yellow-70 { color: var(--colors-yellow-70); }
.zaui-bg-yellow-70 { background-color: var(--colors-yellow-70); }
.zaui-border-yellow-70 { border-color: var(--colors-yellow-70); }
.zaui-text-yellow-80 { color: var(--colors-yellow-80); }
.zaui-bg-yellow-80 { background-color: var(--colors-yellow-80); }
.zaui-border-yellow-80 { border-color: var(--colors-yellow-80); }
.zaui-text-yellow-90 { color: var(--colors-yellow-90); }
.zaui-bg-yellow-90 { background-color: var(--colors-yellow-90); }
.zaui-border-yellow-90 { border-color: var(--colors-yellow-90); }
.zaui-text-yellow-100 { color: var(--colors-yellow-100); }
.zaui-bg-yellow-100 { background-color: var(--colors-yellow-100); }
.zaui-border-yellow-100 { border-color: var(--colors-yellow-100); }

/* Pink */
.zaui-text-pink-10 { color: var(--colors-pink-10); }
.zaui-bg-pink-10 { background-color: var(--colors-pink-10); }
.zaui-border-pink-10 { border-color: var(--colors-pink-10); }
.zaui-text-pink-20 { color: var(--colors-pink-20); }
.zaui-bg-pink-20 { background-color: var(--colors-pink-20); }
.zaui-border-pink-20 { border-color: var(--colors-pink-20); }
.zaui-text-pink-30 { color: var(--colors-pink-30); }
.zaui-bg-pink-30 { background-color: var(--colors-pink-30); }
.zaui-border-pink-30 { border-color: var(--colors-pink-30); }
.zaui-text-pink-40 { color: var(--colors-pink-40); }
.zaui-bg-pink-40 { background-color: var(--colors-pink-40); }
.zaui-border-pink-40 { border-color: var(--colors-pink-40); }
.zaui-text-pink-50 { color: var(--colors-pink-50); }
.zaui-bg-pink-50 { background-color: var(--colors-pink-50); }
.zaui-border-pink-50 { border-color: var(--colors-pink-50); }
.zaui-text-pink-60 { color: var(--colors-pink-60); }
.zaui-bg-pink-60 { background-color: var(--colors-pink-60); }
.zaui-border-pink-60 { border-color: var(--colors-pink-60); }
.zaui-text-pink-70 { color: var(--colors-pink-70); }
.zaui-bg-pink-70 { background-color: var(--colors-pink-70); }
.zaui-border-pink-70 { border-color: var(--colors-pink-70); }
.zaui-text-pink-80 { color: var(--colors-pink-80); }
.zaui-bg-pink-80 { background-color: var(--colors-pink-80); }
.zaui-border-pink-80 { border-color: var(--colors-pink-80); }
.zaui-text-pink-90 { color: var(--colors-pink-90); }
.zaui-bg-pink-90 { background-color: var(--colors-pink-90); }
.zaui-border-pink-90 { border-color: var(--colors-pink-90); }
.zaui-text-pink-100 { color: var(--colors-pink-100); }
.zaui-bg-pink-100 { background-color: var(--colors-pink-100); }
.zaui-border-pink-100 { border-color: var(--colors-pink-100); }

/* Purple */
.zaui-text-purple-10 { color: var(--colors-purple-10); }
.zaui-bg-purple-10 { background-color: var(--colors-purple-10); }
.zaui-border-purple-10 { border-color: var(--colors-purple-10); }
.zaui-text-purple-20 { color: var(--colors-purple-20); }
.zaui-bg-purple-20 { background-color: var(--colors-purple-20); }
.zaui-border-purple-20 { border-color: var(--colors-purple-20); }
.zaui-text-purple-30 { color: var(--colors-purple-30); }
.zaui-bg-purple-30 { background-color: var(--colors-purple-30); }
.zaui-border-purple-30 { border-color: var(--colors-purple-30); }
.zaui-text-purple-40 { color: var(--colors-purple-40); }
.zaui-bg-purple-40 { background-color: var(--colors-purple-40); }
.zaui-border-purple-40 { border-color: var(--colors-purple-40); }
.zaui-text-purple-50 { color: var(--colors-purple-50); }
.zaui-bg-purple-50 { background-color: var(--colors-purple-50); }
.zaui-border-purple-50 { border-color: var(--colors-purple-50); }
.zaui-text-purple-60 { color: var(--colors-purple-60); }
.zaui-bg-purple-60 { background-color: var(--colors-purple-60); }
.zaui-border-purple-60 { border-color: var(--colors-purple-60); }
.zaui-text-purple-70 { color: var(--colors-purple-70); }
.zaui-bg-purple-70 { background-color: var(--colors-purple-70); }
.zaui-border-purple-70 { border-color: var(--colors-purple-70); }
.zaui-text-purple-80 { color: var(--colors-purple-80); }
.zaui-bg-purple-80 { background-color: var(--colors-purple-80); }
.zaui-border-purple-80 { border-color: var(--colors-purple-80); }
.zaui-text-purple-90 { color: var(--colors-purple-90); }
.zaui-bg-purple-90 { background-color: var(--colors-purple-90); }
.zaui-border-purple-90 { border-color: var(--colors-purple-90); }
.zaui-text-purple-100 { color: var(--colors-purple-100); }
.zaui-bg-purple-100 { background-color: var(--colors-purple-100); }
.zaui-border-purple-100 { border-color: var(--colors-purple-100); }

/* Gray */
.zaui-text-gray-10 { color: var(--colors-gray-10); }
.zaui-bg-gray-10 { background-color: var(--colors-gray-10); }
.zaui-border-gray-10 { border-color: var(--colors-gray-10); }
.zaui-text-gray-20 { color: var(--colors-gray-20); }
.zaui-bg-gray-20 { background-color: var(--colors-gray-20); }
.zaui-border-gray-20 { border-color: var(--colors-gray-20); }
.zaui-text-gray-30 { color: var(--colors-gray-30); }
.zaui-bg-gray-30 { background-color: var(--colors-gray-30); }
.zaui-border-gray-30 { border-color: var(--colors-gray-30); }
.zaui-text-gray-40 { color: var(--colors-gray-40); }
.zaui-bg-gray-40 { background-color: var(--colors-gray-40); }
.zaui-border-gray-40 { border-color: var(--colors-gray-40); }
.zaui-text-gray-50 { color: var(--colors-gray-50); }
.zaui-bg-gray-50 { background-color: var(--colors-gray-50); }
.zaui-border-gray-50 { border-color: var(--colors-gray-50); }
.zaui-text-gray-60 { color: var(--colors-gray-60); }
.zaui-bg-gray-60 { background-color: var(--colors-gray-60); }
.zaui-border-gray-60 { border-color: var(--colors-gray-60); }
.zaui-text-gray-70 { color: var(--colors-gray-70); }
.zaui-bg-gray-70 { background-color: var(--colors-gray-70); }
.zaui-border-gray-70 { border-color: var(--colors-gray-70); }
.zaui-text-gray-80 { color: var(--colors-gray-80); }
.zaui-bg-gray-80 { background-color: var(--colors-gray-80); }
.zaui-border-gray-80 { border-color: var(--colors-gray-80); }
.zaui-text-gray-90 { color: var(--colors-gray-90); }
.zaui-bg-gray-90 { background-color: var(--colors-gray-90); }
.zaui-border-gray-90 { border-color: var(--colors-gray-90); }
.zaui-text-gray-100 { color: var(--colors-gray-100); }
.zaui-bg-gray-100 { background-color: var(--colors-gray-100); }
.zaui-border-gray-100 { border-color: var(--colors-gray-100); }